.sidebar-wrapper {
	position: fixed;
	inset: 0;
	z-index: 1000;
}

.backdrop {
	position: fixed;
	inset: 0;
	transition: 500ms;
	background-color: #cc2929;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 250px;
	height: 100%;
	right: 0;
	padding: 48px 40px 38px;
	background-color: #b8e026;
	transition: 500ms;
}