{
	"extends": [
		"stylelint-config-standard"
	],
	"rules": {
		"color-hex-length": "long",
		"no-descending-specificity": null,
		"no-duplicate-selectors": true,
		"property-no-unknown": [
			true,
			{
				"ignoreProperties": [
					"composes"
				]
			}
		]
	}
}