.free-space {
	height: min(60vh, 600px);
	background-image: url('./assets/free-space-1.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-color: transparent;
	border-style: solid;
	filter: grayscale(100%);
}